@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    Akash D : Sector 64, Zone 2, <br /> Nebula Street, Andromeda 5, <br /> Exoplanet Thiruvam, Star System Trichy, <br /> Milky Way Galaxy 607106 <br />
    <abbr> Contact :</abbr>
    9080305957
</address>




