@{
    ViewBag.Title = "Home Page";
}



<div class="main-head container" id="main-head">
    <div class="overlay">
        <h2 id="main-h1">SKYMUSIC Employee Management System</h2>
        <p class="lead d-md-none d-lg-block" id="main-para1">The SKYMUSIC Employee Management System is a comprehensive application designed for efficient employee data management. Developed using a .NET ASP backend with HTML and CSS for the frontend, it offers real-time data updates, secure access controls, and an intuitive interface. This system streamlines employee record handling, performance tracking, and departmental management, making it ideal for businesses of all sizes.</p>
        <p class="slo d-md-none d-lg-block" id="main-para">Easier Employee Tracking for a Happier Workplace.</p>
        <a href="https://www.linkedin.com/in/akashd02/" class="btn btn-lg" > Developed By Akash D &raquo;</a>
    </div>

</div>
